name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Cài thêm cookiecutter để hỗ trợ Flet đóng gói tốt hơn
        pip install cookiecutter
        pip install -r requirements.txt

    - name: Setup Java (Bắt buộc cho Android Build)
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.3'
        channel: 'stable'

    - name: Build APK with Flet (FORCE YES)
      run: |
        # Dùng lệnh 'yes' để tự động bấm 'y' khi Flet hỏi cài đặt
        # Dấu '|' sẽ chuyền chữ 'y' vào mồm Flet để nó im lặng làm việc
        yes | flet build apk --verbose

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: TaiVidSech-App
        path: build/app/outputs/flutter-apk/app-release.apk