name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        # [QUAN TRỌNG] Đã nâng cấp lên bản 3.24.3 để khớp với yêu cầu của Flet
        # Sửa lỗi Flet dừng lại hỏi "Proceed? [y/n]" gây crash
        flutter-version: '3.24.3'
        channel: 'stable'

    - name: Build APK with Flet
      run: |
        # Chạy build
        flet build apk --verbose

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: TaiVidSech-App
        path: build/app/outputs/flutter-apk/app-release.apk